.topbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#555;
    background-color: white;
   

    .wrapper{
        display: flex;
        padding: 20px;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .mirindilog{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            color: #00264D;

            .icon{
                color:#F9842C;
                font-size: 23px;
            }
        }

        .items{
            display: flex;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon{
                    font-size: 20px;
                    color: #F9842C;
                }

            }


        }
    }

}